 

   <h1 id='head'><%=@keyword %> New Fake Twitter </h1>


<h2 class="h2">sign-up</h2
 <div id="get">
   <form method="GET" action="sign-up">
     <label for="email">Email</label>
    <input type="text" name="email">
	 <label for="username">Username</label>
	 <input type="text" name="username">
	 <label for="password">Password</label>
	 <input type="password" name="password">
	 <label for="birthday">Birthday</label>
	 <input type="integer" name="birthday">
	 <input class="get_bottom" type="submit">
  </from>
  </div>



    <h2>sign-in</h2

   <div id="post">
   <form method="POST" action="/sign-in">
	 <label for="username">Username</label>
	 <input type="text" name="username">
	 <label for="password">Password</label>
	 <input type="password" name="password">
	 <input class="post_bottom" type="submit">
  </from>
  </div>

 