 #container{
 	background-image: url("https://abs.twimg.com/a/1403815094/img/t1/front_page/exp_wc2014_gen_timtrueman.jpg");
background-repeat: no-repeat;
background-size: 100%;
 }
 #ku{color: #006400;
}
#head{
text-align: center;
color: #293844;
}

.h2{
	text-align: center;
}
#kaky{
	text-align: center;

}
#get{
text-align: center;
ba
}

}
.class{
font-size: 25px;
	text-align: left;
}